/* LAYOUT */

body {
  color: #333;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}
.desktop-width {
  max-width: 1024px;
  margin: auto;
}
.main-landing-page {
  width: 100%;
  background-image: url(//i.ibb.co/41FtsVT/brooke-cagle-WHWYBmtn3-0-unsplash.webp);
  background-color: #333;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: soft-light;
}
.solutions .card {
 overflow: hidden;
}
.solutions .card img {
  width: 100%;
 }
.challenges .w3-card {
  min-height: 370px;
}
.challenges .w3-card .w3-container {
  min-height: 90px;
}
.partnerships .card {
  min-height: 260px;
  overflow: hidden;
}
.platforms img {
  width: 120px;
  height: 120px;
}