/* LAYOUT */

body {
  color: #333;
  margin: 0 auto;
  overflow-x: hidden;
}

.challenges .w3-card {
  min-height: 370px;
}
.challenges .w3-card .w3-container {
  min-height: 90px;
}
.partnerships .w3-theme-d5 {
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
.platforms img {
  width: 120px;
  height: 120px;
}
