<h1 class="desktop-width w3-margin-top w3-center">Challenges sellers face</h1>
<section class="challenges desktop-width">
    <div class="prev-card flex-center">
        <button class="w3-button w3-xlarge w3-circle"><i class="fa fa-arrow-left"></i></button>
    </div>
    <div class="next-card flex-center">
        <button class="w3-button w3-xlarge w3-circle"><i class="fa fa-arrow-right"></i></button>
    </div>
    <div class="w3-round-xxlarge cards-container">
        <div class="cards">
            <div class="card w3-theme-l5 w3-round-xxlarge overflow-hidden">
                <div class="media flex-center"><i class="fa fa-file"></i></div>
                <h2 class="w3-large w3-text-theme">Navigating platform onboarding</h2>
                <p class="w3-small">The UAE's digital marketplace is vast, with multiple platforms available for sellers. Each platform has its own set of guidelines, registration procedures, and seller requirements. Knowing where to start and how to set up your online store optimally can be daunting.</p>
            </div>
    
            <div class="card w3-theme-l5 w3-round-xxlarge overflow-hidden">
                <div class="media flex-center"><i class="fa fa-eye"></i></div>
                <h2 class="w3-large w3-text-theme">Achieving Product Visibility</h2>
                <p class="w3-small">With thousands of products online, how do you make sure your product stands out? From selecting the right keywords for your product title to having crisp images and compelling descriptions, every detail matters.</p>
            </div>
            
            <div class="card w3-theme-l5 w3-round-xxlarge overflow-hidden">
                <div class="media flex-center"><i class="fa fa-money"></i></div>
                <h2 class="w3-large w3-text-theme">Keeping Up with Dynamic Pricing</h2>
                <p class="w3-small">Prices online aren’t static. They shift based on various factors: seasonality, demand, stock levels, and competitor strategies. Monitoring and adjusting your prices to remain competitive, while also profitable, requires continuous vigilance.</p>
            </div>
            
            <div class="card w3-theme-l5 w3-round-xxlarge overflow-hidden">
                <div class="media flex-center"><i class="fa fa-line-chart"></i></div>
                <h2 class="w3-large w3-text-theme">Effective Promotions and Advertisements</h2>
                <p class="w3-small">Online promotions can drive significant traffic and sales. But which products should you promote? How often? And how do you ensure your advertising spend isn't wasted but brings a good return on investment?</p>
            </div>
            
            <div class="card w3-theme-l5 w3-round-xxlarge overflow-hidden">
                <div class="media flex-center"><i class="fa fa-book"></i></div>
                <h2 class="w3-large w3-text-theme">Streamlined Financial Management</h2>
                <p class="w3-small">Selling on multiple platforms means managing finances across all these channels. Ensuring payments are received, handling returns, and reconciling any discrepancies across platforms is often complex and time-consuming.</p>
            </div>
        </div>
    </div>
</section>