<section class="hero desktop-width w3-margin-top w3-round-xxlarge">
    <h1>Let's sell your products on</h1>
    <div class="platforms-card">
        <a href="https://sellercentral.amazon.ae/" target="_blank" rel="noopener noreferrer">
            <img src="https://i.ibb.co/kqb1DvD/Untitled-2.png" alt="Manage Amazon seller account" class="w3-circle w3-theme-d5">
        </a>
        <a href="https://login.noon.partners/en/" target="_blank" rel="noopener noreferrer">
            <img src="https://i.ibb.co/Drt5RnX/Untitled-1.png" alt="Manage noon seller account" class="w3-circle w3-theme-d5">
        </a>
        <a href="https://services.sharafdg.com/VendorOnboarding/Login" target="_blank" rel="noopener noreferrer">
            <img src="https://i.ibb.co/0QNmK8Z/Untitled-5.png" alt="Manage SharafDG seller account" class="w3-circle w3-theme-d5">
        </a>
        <a href="https://marketplace.carrefouruae.com/seller" target="_blank" rel="noopener noreferrer">
            <img src="https://i.ibb.co/tJzHPPV/Untitled-3.png" alt="Manage Carrefour seller account" class="w3-circle w3-theme-d5">
        </a>
        <a href="https://sellers.snapdeal.com/" target="_blank" rel="noopener noreferrer">
            <img src="https://i.ibb.co/Fb9HR61/Untitled-6.png" alt="Manage snapdeal seller account" class="w3-circle w3-theme-d5">
        </a>
        <a href="https://seller.flipkart.com/" target="_blank" rel="noopener noreferrer">
            <img src="https://i.ibb.co/xYS9PVs/Untitled-4.png" alt="Manage flipkart seller account" class="w3-circle w3-theme-d5">
        </a>        
        <div class="w3-theme-d5 flex-center w3-circle w3-small w3-center">& many more...</div>
    </div>
    <button onclick="toggleRequestCallback()" class="w3-button w3-theme w3-round-xxlarge">Book your free consultation</button>
</section>
