<section class="hero desktop-width w3-margin-top w3-round-xxlarge">
    <h1>Let's sell your products on</h1>
    <div class="platforms-card">
        <a href="https://sellercentral.amazon.ae/" target="_blank" rel="noopener noreferrer">
            <img src="/images/amazon.png" alt="Manage Amazon seller account" class="w3-circle w3-theme-d5">
        </a>
        <a href="https://login.noon.partners/en/" target="_blank" rel="noopener noreferrer">
            <img src="/images/noon.png" alt="Manage noon seller account" class="w3-circle w3-theme-d5">
        </a>
        <a href="https://services.sharafdg.com/VendorOnboarding/Login" target="_blank" rel="noopener noreferrer">
            <img src="/images/sharafdg.png" alt="Manage SharafDG seller account" class="w3-circle w3-theme-d5">
        </a>
        <a href="https://marketplace.carrefouruae.com/seller" target="_blank" rel="noopener noreferrer">
            <img src="/images/carrefour.png" alt="Manage Carrefour seller account" class="w3-circle w3-theme-d5">
        </a>
        <a href="https://sellers.snapdeal.com/" target="_blank" rel="noopener noreferrer">
            <img src="/images/snapdeal.png" alt="Manage snapdeal seller account" class="w3-circle w3-theme-d5">
        </a>
        <a href="https://seller.flipkart.com/" target="_blank" rel="noopener noreferrer">
            <img src="/images/flipkart.png" alt="Manage flipkart seller account" class="w3-circle w3-theme-d5">
        </a>        
        <div class="w3-theme-d5 flex-center w3-circle w3-small w3-center">& many more...</div>
    </div>
    <button onclick="toggleRequestCallback()" class="w3-button w3-theme w3-round-xxlarge">Book your free consultation</button>
</section>
