<h1 class="desktop-width w3-center w3-margin-top">Why Partner with C2L?</h1>
<div class="partnerships desktop-width">
    <div class="cards">
        <div class="w3-theme-l5 w3-round-xxlarge card overflow-hidden">
            <h3 class="w3-text-theme w3-container">Experienced Team</h3>
            <p class="w3-container w3-small">Our team has deep insights into the UAE's e-commerce landscape, ensuring you're always a step ahead.</p>
        </div>
        <div class="w3-theme-l5 w3-round-xxlarge card overflow-hidden">
            <h3 class="w3-text-theme w3-container">Personal Touch</h3>
            <p class="w3-container w3-small">We treat your business as our own. Every strategy is tailored to your specific needs.</p>
        </div>
        <div class="w3-theme-l5 w3-round-xxlarge card overflow-hidden">
            <h3 class="w3-text-theme w3-container">Save time & money</h3>
            <p class="w3-container w3-small">Free up your time & focus on other aspects of your business by handing over your day-to-day tasks involved in running your business.</p>
        </div>
        <div class="w3-theme-l5 w3-round-xxlarge card overflow-hidden">
            <h3 class="w3-text-theme w3-container">All-In-One Solution</h3>
            <p class="w3-container w3-small">From onboarding to managing sales, we offer a holistic approach, so you can focus on what you do best – your products.</p>
        </div>
    </div>
</div>