<div class="partnerships desktop-width">
    <div class="w3-row">
        <h2 class="w3-col s12 w3-container w3-large">Why Partner with C2L?</h2>

        <div class="w3-col s12 m3 w3-container">
            <div class="w3-border w3-round-xlarge card w3-margin-bottom">
                <div class="w3-theme-l5 w3-container">
                    <h3 class="w3-medium w3-text-theme">Experienced Team</h3>
                </div>
                <p class="w3-container w3-small">Our team has deep insights into the UAE's e-commerce landscape, ensuring you're always a step ahead.</p>
            </div>
        </div>

        <div class="w3-col s12 m3 w3-container">
            <div class="w3-border w3-round-xlarge card w3-margin-bottom">
                <div class="w3-theme-l5 w3-container">
                    <h3 class="w3-medium w3-text-theme">Personal Touch</h3>
                </div>
                <p class="w3-container w3-small">We treat your business as our own. Every strategy is tailored to your specific needs.</p>
            </div>
        </div>

        <div class="w3-col s12 m3 w3-container">
            <div class="w3-border w3-round-xlarge card w3-margin-bottom">
                <div class="w3-theme-l5 w3-container">
                    <h3 class="w3-medium w3-text-theme">Save time & money</h3>
                </div>
                <p class="w3-container w3-small">Free up your time & focus on other aspects of your business by handing over your day-to-day tasks involved in running your business.</p>
            </div>
        </div>

        <div class="w3-col s12 m3 w3-container">
            <div class="w3-border w3-round-xlarge card w3-margin-bottom">
                <div class="w3-theme-l5 w3-container">
                    <h3 class="w3-medium w3-text-theme">All-In-One Solution</h3>
                </div>
                <p class="w3-container w3-small">From onboarding to managing sales, we offer a holistic approach, so you can focus on what you do best – your products.</p>
            </div>
        </div>

    </div>
</div>