{{ partial "header.html" . }}

<div class="w3-container">

    {{ partial "index/hero.html" . }}
    {{ partial "index/subhero.html" . }}
    {{ partial "index/challenges.html" . }}
    {{ partial "index/whypartner.html" . }}
    
</div>

<div class="platforms w3-theme-l5 w3-padding">
    <div class="desktop-width">
    <h2 class="w3-large w3-container">Platforms we cover</h2>
        <div class="w3-row">

            <div class="w3-col s6 m2 w3-padding">
                <div class="w3-container">
                    <a href="https://sellercentral.amazon.ae/" target="_blank" rel="noopener noreferrer">
                        <img src="https://i.ibb.co/kqb1DvD/Untitled-2.png" alt="Manage Amazon seller account" class="w3-circle w3-card w3-theme-d5">
                    </a>
                </div>
            </div>

            <div class="w3-col s6 m2 w3-padding">
                <div class="w3-container">
                    <a href="https://login.noon.partners/en/" target="_blank" rel="noopener noreferrer">
                        <img src="https://i.ibb.co/Drt5RnX/Untitled-1.png" alt="Manage noon seller account" class="w3-circle w3-card w3-theme-d5">
                    </a>
                </div>
            </div>

            <div class="w3-col s6 m2 w3-padding">
                <div class="w3-container">
                    <a href="https://services.sharafdg.com/VendorOnboarding/Login" target="_blank" rel="noopener noreferrer">
                        <img src="https://i.ibb.co/0QNmK8Z/Untitled-5.png" alt="Manage SharafDG seller account" class="w3-circle w3-card w3-theme-d5">
                    </a>
                </div>
            </div>

            <div class="w3-col s6 m2 w3-padding">
                <div class="w3-container">
                    <a href="https://marketplace.carrefouruae.com/seller" target="_blank" rel="noopener noreferrer">
                        <img src="https://i.ibb.co/tJzHPPV/Untitled-3.png" alt="Manage Carrefour seller account" class="w3-circle w3-card w3-theme-d5">
                    </a>
                </div>
            </div>

            <div class="w3-col s6 m2 w3-padding">
                <div class="w3-container">
                    <a href="https://sellers.snapdeal.com/" target="_blank" rel="noopener noreferrer">
                        <img src="https://i.ibb.co/Fb9HR61/Untitled-6.png" alt="Manage snapdeal seller account" class="w3-circle w3-card w3-theme-d5">
                    </a>
                </div>
            </div>

            <div class="w3-col s6 m2 w3-padding">
                <div class="w3-container">
                    <a href="https://seller.flipkart.com/" target="_blank" rel="noopener noreferrer">
                        <img src="https://i.ibb.co/xYS9PVs/Untitled-4.png" alt="Manage flipkart seller account" class="w3-circle w3-card w3-theme-d5">
                    </a>
                </div>
            </div>

            <div class="w3-col s12 w3-container">
                <p>Services are not only limited to these platform. C2L can help you with almost all the platforms on which your products can be sold. <a onclick="toggleRequestCallback()" href="#">Reach out to us</a> and know how C2L can help.</p>
            </div>

        </div>
    </div>
</div>

<div class="solutions desktop-width">
    <div class="w3-container">
        <h2 class="w3-large">C2L’s Comprehensive Solutions</h2>

        <div class="card w3-row w3-border w3-round-xlarge w3-margin-bottom">
            <div class="w3-col s12 m4">
                <img src="https://i.ibb.co/PCjsmnX/passport.jpg" alt="onboarding documentation">
            </div>
            <div class="w3-col s12 m8 w3-container">
                <h3 class="w3-text-theme w3-medium">Guided Onboarding</h3>
                <p>Our team specializes in multiple platform onboarding. We'll assist you in:</p>
                <ul>
                    <li>Understanding platform-specific requirements.</li>
                    <li>Streamlining registration and setup.</li>
                    <li>Ensuring your online storefront aligns with best practices for user experience.</li>
                </ul>
            </div>
        </div>

        <div class="card w3-row w3-border w3-round-xlarge w3-margin-bottom">
            <div class="w3-col s12 m4">
                <img src="https://i.ibb.co/9YxQKJ3/product.png" alt="product listing">
            </div>
            <div class="w3-col s12 m8 w3-container">
                <h3 class="w3-medium w3-text-theme">Expert Product Listing</h3>
                <p>To enhance your product's visibility, we:</p>
                <ul>
                    <li>Craft SEO-optimized product titles and descriptions.</li>
                    <li>Offer insights on product imagery that resonates with buyers.</li>
                    <li>Strategically categorize and position your products.</li>
                </ul>
            </div>
        </div>

        <div class="card w3-row w3-border w3-round-xlarge w3-margin-bottom">
            <div class="w3-col s12 m4">
                <img src="https://i.ibb.co/thkq1Sm/currency.png" alt="product pricing">
            </div>
            <div class="w3-col s12 m8 w3-container">
                <h3 class="w3-medium w3-text-theme">Dynamic Price Management</h3>
                <p>We continuously monitor market trends and adjust pricing accordingly:</p>
                <ul>
                    <li>Implementing competitive pricing strategies.</li>
                    <li>Offering insights on market demand and seasonality.</li>
                    <li>Ensuring profitability while staying competitive.</li>
                </ul>
            </div>
        </div>
    
        <div class="card w3-row w3-border w3-round-xlarge w3-margin-bottom">
            <div class="w3-col s12 m4">
                <img src="https://i.ibb.co/mFQNWWn/pexels-drew-williams-3143813.png" alt="product ad">
            </div>
            <div class="w3-col s12 m8 w3-container">
                <h3 class="w3-medium w3-text-theme">ROI-Driven Advertising</h3>
                <p>Our marketing specialists curate tailored campaigns:</p>
                <ul>
                    <li>Identifying ideal products for promotion.</li>
                    <li>Strategizing ad spend for maximum ROI.</li>
                    <li>Continuously analyzing campaign performance for optimal results.</li>
                </ul>
            </div>
        </div>

        <div class="card w3-row w3-border w3-round-xlarge w3-margin-bottom">
            <div class="w3-col s12 m4">
                <img src="https://i.ibb.co/vmcNs6n/photo-1450101499163-c8848c66ca85.jpg"
                    alt="track sales">
            </div>
            <div class="w3-col s12 m8 w3-container">
                <h3 class="w3-medium w3-text-theme">Transparent Financial Assistance</h3>
                <p>We simplify finance management across platforms by:</p>
                <ul>
                    <li>Tracking sales, returns, and payments.</li>
                    <li>Reconciling discrepancies.</li>
                    <li>Providing transparent monthly financial reports.</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="recent-blogs w3-row desktop-width">
    <div class="w3-col s12 m6 w3-container w3-padding-16">
        <ul class="w3-ul w3-border w3-round-xlarge">
            <li><h2>Recent blogs</h2></li>
            {{ range first 4 ((where .Site.Pages "Section" "=" "posts").ByDate).Reverse  }}
            {{ if eq .Title "Posts" }}
                {{ continue }}
            {{ end }}
            <li><a href="{{ .RelPermalink }}">{{.Title}}</a></li>
            {{ end }}
            <li class="w3-large w3-center"><a href="/posts">Read more...</a></li>
        </ul>
    </div>
    <div class="w3-col s12 m6 w3-container w3-padding-16">
        <div style="text-align: left" class="sender-form-field" data-sender-form-id="lnprezvsdnwgnedsyk4"></div>
    </div>
</div>

{{ partial "footer.html" . }}
