{{ partial "header.html" . }}

<div class="w3-container">

    {{ partial "index/hero.html" . }}
    {{ partial "index/subhero.html" . }}
    {{ partial "index/whypartner.html" . }}
    {{ partial "index/challenges.html" . }}
    {{ partial "index/solutions.html" . }}
    
</div>

<div class="recent-blogs w3-row desktop-width">
    <div class="w3-col s12 m6 w3-container w3-padding-16">
        <ul class="w3-ul w3-border w3-round-xlarge">
            <li><h2>Recent blogs</h2></li>
            {{ range first 4 ((where .Site.Pages "Section" "=" "posts").ByDate).Reverse  }}
            {{ if eq .Title "Posts" }}
                {{ continue }}
            {{ end }}
            <li><a href="{{ .RelPermalink }}">{{.Title}}</a></li>
            {{ end }}
            <li class="w3-large w3-center"><a href="/posts">Read more...</a></li>
        </ul>
    </div>
    <div class="w3-col s12 m6 w3-container w3-padding-16">
        <div style="text-align: left" class="sender-form-field" data-sender-form-id="lnprezvsdnwgnedsyk4"></div>
    </div>
</div>

{{ partial "footer.html" . }}
