{{ partial "header.html" . }}

<section class="main-landing-page">
  <div class="desktop-width" style="padding: 120px 22px; color: #fff;">
      <h2 style="line-height: 1.2;" class="w3-center">{{ .Title }}</h2>
  </div>
</section>

<section>
  <div class="desktop-width">
    <p>
      {{ .Content }}
    </p>
    {{ range.Data.Pages }}
    <article class="w3-container">
      <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>
    </article><hr>
    {{ end }}
  </div>
</section>



{{ partial "footer.html" . }}
