{{ partial "header.html" . }}


<section class="main-landing-page">
    <div class="desktop-width" style="padding: 120px 22px; color: #fff;">
        <h1 style="line-height: 1.2;" class="w3-center w3-xlarge">{{ .Title }}</h1>
    </div>
</section>

<div class="desktop-width w3-container">
{{ if .Params.image }}
<div style="position: relative; top: -45px; height: 286PX; width: 100%; overflow: hidden;" class="w3-round-large">
    <img src="{{ .Params.image.url }}" style="height: 286px; width: 786px;" class="w3-round-large" alt="{{ .Params.image.alt }}" >
</div>
{{ end }}
</div>

<div class="desktop-width w3-container">
    <div class="w3-row">
        <div class="w3-col s12 m8 w3-container w3-round-xlarge w3-theme-l5" style="margin-bottom: 16px;">
            <p>{{ .Content }}</p>
        </div>
        <div class="w3-col s12 m4 w3-container">
            <div class="w3-container w3-theme-l5 w3-round-xlarge">
                <h4>Book a free consultation</h4>
            </div>
            <br>
            <form action="#" method="post" name="lead">
                <label><b>Name</b></label>
                <input class="w3-input w3-round-large w3-border w3-margin-bottom" type="text" placeholder="Enter your name" name="name" required>
                <label><b>Mobile number</b></label>
                <input class="w3-input w3-round-large w3-border w3-margin-bottom" type="tel" placeholder="Enter your phone number" name="mobile" required>
                <label><b>Email id</b></label>
                <input class="w3-input w3-round-large w3-border" type="email" placeholder="Enter your email" name="email" required>
                <br>
                <button class="w3-button w3-round-large w3-theme" style="width: 100%;" type="submit">Submit</button>
                <p id="alert" style="display: none;" class="w3-theme-l5 w3-container w3-padding-16 w3-round-large w3-small w3-text-theme">Your detail has been submitted and we'll get in touch with you shortly.</p>
            </form>
        </div>
    </div>
    <br>
</div>

{{ partial "footer.html" . }}
