{{ partial "header.html" . }}


<div class="desktop-width">

    <div class="w3-row-padding">
        <div class="w3-col s12">
            {{ if .Params.image }}
            <div class="blog-header-image w3-round-xxlarge overflow-hidden w3-margin-bottom">
                <img src="{{ .Params.image.url }}" class="w3-round-large" alt="{{ .Params.image.alt }}" >
            </div>
            {{ end }}
            <div class="w3-theme-l5 w3-round-xxlarge w3-margin-bottom w3-small w3-container">
                <ol class="breadcrumb">
                    {{ range .Ancestors.Reverse }}
                    <li><a href="{{ .Permalink }}">{{ if .IsHome }}<i class="fa fa-home"></i>{{ else }}{{ .LinkTitle }}{{ end }}</a> </li>
                    {{ end }}
                    <li>{{.LinkTitle}}</li>
                </ol>
            </div>
            <div class="author-sharer w3-padding w3-round-xxlarge w3-theme-l5">
                <div class="author">
                    <div class="author-image">
                        <img src="https://api.dicebear.com/9.x/personas/svg?seed=Felix" class="w3-border w3-circle" alt="Avatar of author" />
                    </div>
                    <div class="author-details">
                        <div class="author-details-title w3-large">Admin</div>
                        {{ if .Date }}
                        <time class="w3-tiny" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time> | 
                        {{ end }}
                        <span class="w3-tiny">{{ .ReadingTime }} minutes read</span>
                    </div>
                </div>
                <div class="shareit w3-round-xxlarge overflow-hidden">
                    <a class="facebook flex-center" href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink | safeURL }}" title="facebook"><i class="fa fa-facebook"></i></a>
                    <a class="twitter flex-center" href="https://twitter.com/intent/tweet?text={{.Title | safeURL }}&url={{.Permalink | safeURL }}" title="twitter"><i class="fa fa-twitter"></i></a>
                    <a class="linkedin flex-center" href="https://www.linkedin.com/shareArticle?mini=true&url={{.Permalink | safeURL }}&title={{.Title | safeURL }}" title="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a class="reddit flex-center" href="https://www.reddit.com/submit?url={{.Permalink | safeURL }}&title={{.Title | safeURL }}" title="reddit"><i class="fa fa-reddit"></i></a>
                    <a class="tumblr flex-center" href="https://www.tumblr.com/share/link?url={{.Permalink | safeURL }}&name={{.Title | safeURL }}&description={{.Description | safeURL }}" title="tumblr"><i class="fa fa-tumblr"></i></a>
                    <a class="pinterest flex-center" href="https://pinterest.com/pin/create/button/?url={{.Permalink | safeURL }}&media={{.Params.image.url | safeURL }}&description={{.Title | safeURL }}" title="pinterest"><i class="fa fa-pinterest-p"></i></a>
                </div>    
            </div>
        </div>
        <div class="w3-col s12 m6 l8 w3-round-xxlarge w3-margin-bottom">
            <h1 class="w3-text-theme">{{ .Title }}</h1>
            {{ if eq .Section "posts" }}
                <div class="w3-margin-top"><b>Table of Contents</b></div>
                {{ .TableOfContents }}
            {{ end }}
            <div class="blog-post">{{ .Content }}</div>
        </div>
        <div class="w3-col s12 m6 l4 w3-margin-top">
            {{ partial "capture-lead.html" . }}

            <div class="w3-margin-top">
                {{ partial "recent_blogs.html" . }}
            </div>

            <div style="text-align: left" class="sender-form-field w3-margin-top" data-sender-form-id="lnprezvsdnwgnedsyk4"></div>
        </div>
    </div>
    <br>
</div>


{{ partial "footer.html" . }}
