{{ partial "header.html" . }}

<section class="main-landing-page">
    <div class="desktop-width">
        <h1 class="w3-center w3-xlarge">{{ .Title }}</h1>
    </div>
</section>

<div class="desktop-width w3-container">
{{ if .Params.image }}
<div class="blog-header-image w3-round-large">
    <img src="{{ .Params.image.url }}" class="w3-round-large" alt="{{ .Params.image.alt }}" >
</div>
{{ end }}
</div>

<div class="desktop-width w3-container">
    <div class="w3-row">
        <div class="w3-col s12 w3-small w3-theme-l5 w3-round-xlarge w3-margin-bottom w3-container w3-tiny">
            <ol class="breadcrumb">
            {{ range .Ancestors.Reverse }}
                <li>
                    <a href="{{ .Permalink }}">{{ if .IsHome }}Home{{ else }}{{ .LinkTitle }}{{ end }}</a>
                </li>
            {{ end }}
            <li>{{.LinkTitle}}</li>
            </ol>
        </div>
        <div class="w3-col s12 w3-margin-bottom">
            <div class="author-sharer w3-container w3-padding-16 w3-theme-l5 w3-round-xlarge">
                <div class="author">
                    <div class="author-image w3-margin-right">
                        <img src="https://api.minimalavatars.com/avatar/author/svg" class="w3-border w3-circle" alt="Avatar of author" />
                    </div>
                    <div class="author-details">
                        <div class="author-details-title w3-large">Admin</div>
                        {{ if .Date }}
                        <time class="w3-tiny" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                            {{ .Date.Format "January 2, 2006" }}
                        </time> | 
                        {{ end }}<span class="w3-tiny">{{ .ReadingTime }} minutes read</span>
                    </div>
                </div>
                <div class="shareit w3-round-xlarge w3-hide-small">
                    <!-- facebook -->
                    <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink | safeURL }}"
                        title="facebook"><i class="fa fa-facebook"></i></a>
                
                    <!-- twitter -->
                    <a class="twitter" href="https://twitter.com/intent/tweet?text={{.Title | safeURL }}&url={{.Permalink | safeURL }}"
                        title="twitter"><i class="fa fa-twitter"></i></a>
                
                    <!-- linkedin -->
                    <a class="linkedin"
                        href="https://www.linkedin.com/shareArticle?mini=true&url={{.Permalink | safeURL }}&title={{.Title | safeURL }}"
                        title="linkedin"><i class="fa fa-linkedin"></i></a>
                
                    <!-- reddit -->
                    <a class="reddit" href="https://www.reddit.com/submit?url={{.Permalink | safeURL }}&title={{.Title | safeURL }}"
                        title="reddit"><i class="fa fa-reddit"></i></a>
                
                    <!-- tumblr -->
                    <a class="tumblr"
                        href="https://www.tumblr.com/share/link?url={{.Permalink | safeURL }}&name={{.Title | safeURL }}&description={{.Description | safeURL }}"
                        title="tumblr"><i class="fa fa-tumblr"></i></a>
                
                    <!-- pinterest -->
                    <a class="pinterest"
                        href="https://pinterest.com/pin/create/button/?url={{.Permalink | safeURL }}&media={{.Params.image.url | safeURL }}&description={{.Title | safeURL }}"
                        title="pinterest"><i class="fa fa-pinterest-p"></i></a>
                </div>    
            </div>
            <div class="shareit w3-round-xlarge w3-hide-medium w3-hide-large w3-margin-top">
                <!-- facebook -->
                <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink | safeURL }}"
                    title="facebook"><i class="fa fa-facebook"></i></a>
            
                <!-- twitter -->
                <a class="twitter" href="https://twitter.com/intent/tweet?text={{.Title | safeURL }}&url={{.Permalink | safeURL }}"
                    title="twitter"><i class="fa fa-twitter"></i></a>
            
                <!-- linkedin -->
                <a class="linkedin"
                    href="https://www.linkedin.com/shareArticle?mini=true&url={{.Permalink | safeURL }}&title={{.Title | safeURL }}"
                    title="linkedin"><i class="fa fa-linkedin"></i></a>
            
                <!-- reddit -->
                <a class="reddit" href="https://www.reddit.com/submit?url={{.Permalink | safeURL }}&title={{.Title | safeURL }}"
                    title="reddit"><i class="fa fa-reddit"></i></a>
            
                <!-- tumblr -->
                <a class="tumblr"
                    href="https://www.tumblr.com/share/link?url={{.Permalink | safeURL }}&name={{.Title | safeURL }}&description={{.Description | safeURL }}"
                    title="tumblr"><i class="fa fa-tumblr"></i></a>
            
                <!-- pinterest -->
                <a class="pinterest"
                    href="https://pinterest.com/pin/create/button/?url={{.Permalink | safeURL }}&media={{.Params.image.url | safeURL }}&description={{.Title | safeURL }}"
                    title="pinterest"><i class="fa fa-pinterest-p"></i></a>
            </div>    

        </div>
        <div class="w3-col s12 m8 w3-container w3-round-xlarge w3-theme-l5 w3-margin-bottom">
            {{ if eq .Section "posts" }}
                <div class="w3-margin-top"><b>Table of Contents</b></div>
                {{ .TableOfContents }}
            {{ end }}
            <div class="blog-post">
                <p>{{ .Content }}</p>            
            </div>
        </div>
        <div class="w3-col s12 m4 w3-container">
            <div class="w3-border w3-round-xlarge w3-margin-bottom">
                <div class="w3-container w3-theme-d5 w3-round-xlarge">
                    <h4>Book a free consultation</h4>
                </div>
                <form action="#" method="post" name="lead" class="w3-container w3-padding-16">
                    <label><b>Name</b></label>
                    <input class="w3-input w3-round-large w3-border w3-margin-bottom" type="text" placeholder="Enter your name" name="name" required>
                    <label><b>Mobile number</b></label>
                    <input class="w3-input w3-round-large w3-border w3-margin-bottom" type="tel" placeholder="Enter your phone number" name="mobile" required>
                    <label><b>Email id</b></label>
                    <input class="w3-input w3-round-large w3-border" type="email" placeholder="Enter your email" name="email" required>
                    <br>
                    <button class="w3-button w3-round-large w3-theme w3-block" type="submit">Submit</button>
                    <p id="alert" class="w3-theme-l5 w3-container w3-padding-16 w3-round-large w3-small w3-text-theme">Your detail has been submitted and we'll get in touch with you shortly.</p>
                </form>    
            </div>
            <div class="w3-padding-16">
                <ul class="w3-ul w3-border w3-round-xlarge">
                    <li class="w3-large w3-round-xlarge w3-card w3-theme-d5"><span>You should read these too</span></li>
                    {{ $current_page := .RelPermalink }}
                    {{ range first 10 (where .Site.AllPages "Section" "posts") }}
                        {{ if eq .Section "posts" }}
                            {{ if .IsPage }}
                                <li class="{{if eq $current_page .RelPermalink}}w3-hide{{end}}"><a href="{{.RelPermalink}}">{{.Title}}</a></li>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
            <div class="w3-padding-16">
                <div style="text-align: left" class="sender-form-field" data-sender-form-id="lnprezvsdnwgnedsyk4"></div>
            </div>
        </div>
    </div>
    <br>
</div>


{{ partial "footer.html" . }}
