{{ partial "header.html" . }}

<section class="main-landing-page">
  <div class="desktop-width">
      <h2 class="w3-center">{{ .Title }}</h2>
      <ol class="breadcrumb w3-center">
        {{ range .Ancestors.Reverse }}
        <li><a href="{{ .Permalink }}">{{ if .IsHome }}Home{{ else }}{{ .LinkTitle }}{{ end }}</a></li>
        {{ end }}
        <li>{{.LinkTitle}}</li>
    </ol>
</div>
</section>

<section class="desktop-width blog-layout w3-row-padding">
    {{ .Content }}

    <div class="w3-col s12 m6 l8">
      {{ $pages := .Data.Pages }}
      {{ $paginator := .Paginate $pages.ByDate.Reverse 7 }}
      <div class="blog-list">
        {{ range $paginator.Pages }}      
          <div class="blog-list-item w3-round-xxlarge w3-container w3-padding-16 w3-theme-l5 ">
            <a href="{{ .RelPermalink }}">
              <img src="{{.Params.image.url}}" alt="{{ .Params.image.alt }}" class="w3-block w3-image w3-round-xlarge" />
              <div class="reading-time w3-small w3-tag w3-theme w3-round-xlarge">{{.ReadingTime}} minute read</div>
              <div class="content w3-margin-top">
                <div class="title w3-large w3-text-theme">{{.Title}}</div>
                <div class="summary w3-tiny">{{.Summary}}</div>
                <a href="{{.RelPermalink}}" class="w3-theme w3-button w3-round-xlarge w3-margin-top">Read now</a>
              </div>
            </a>
          </div>
        {{ end }}
        </div>

      {{ template "_internal/pagination.html" . }}
    </div>

    <div class="w3-col s12 m6 l4">
      {{ partial "capture-lead.html" . }}
      <div style="text-align: left" class="sender-form-field w3-margin-top" data-sender-form-id="lnprezvsdnwgnedsyk4"></div>
    </div>
    

  </section>


{{ partial "footer.html" . }}
