<dialog id="request-callback">
  <button onclick="toggleRequestCallback()" class="w3-button w3-circle w3-card w3-xlarge w3-theme-l5 close"><i class="fa fa-close"></i></button>
  {{ partial "capture-lead.html" . }}
</dialog>

<div class="desktop-width footer-wrapper">
  
  <footer class="w3-row">
    <div class="w3-col s12 m4">
      <div class="c2l-footer-logo"></div>
      <p class="w3-text-white w3-container w3-small">C2L helps seller to grow their online presence along with improved
        sales. Begin your simplified and efficient online selling journey in the UAE with C2L.</p>
        <p class="w3-text-white w3-container">Follow:</p>
        <div class="follow w3-margin-bottom w3-margin-top">
          <a href="{{.Site.Params.linkedin}}" aria-label="Link to open social media page for C2l on LinkedIn" class="w3-button w3-circle w3-xlarge w3-theme-l5"><i class="fa fa-linkedin-square"></i></a>
          <a href="{{.Site.Params.facebook}}" aria-label="Link to open social media page for C2l on Facebook" class="w3-button w3-circle w3-xlarge w3-theme-l5"><i class="fa fa-facebook-square"></i></a>
          <a href="#"  aria-label="Link to open social media page for C2l on Twitter" class="w3-hide w3-button w3-circle w3-xlarge w3-theme-l5"><i class="fa fa-twitter-square"></i></a>
          <a href="{{.Site.Params.instagram}}" aria-label="Link to open social media page for C2l on Instagram" class="w3-button w3-circle w3-xlarge w3-theme-l5"><i class="fa fa-instagram"></i></a>
        </div>
    </div>

    <div class="w3-col s12 m4 w3-container w3-padding newsletter">
      <p class="w3-large w3-text-white">Contacts</p>
      <div class="w3-text-white w3-margin-bottom">📧 <a href="mailto:{{.Site.Params.email}}">{{.Site.Params.email}}</a></div>
      <div class="w3-text-white w3-margin-bottom">📞 <a href="tel:{{.Site.Params.phone}}">{{.Site.Params.phone}}</a></div>
      <div class="w3-text-white w3-margin-bottom">🗺 {{.Site.Params.address}}</div>
    </div>

    <div class="w3-col s12 m4 w3-container w3-padding w3-text-white w3-hide-small">
      <p class="w3-large w3-text-white">Links</p>

      {{ range (.Site.Sections.ByWeight).Reverse }}
        {{ range .Pages }}
          {{ if ne .Section "posts" }}
            <a href="{{ .RelPermalink }}" class="w3-block w3-margin-bottom">{{.LinkTitle}}</a>
          {{ end }}
        {{ end }}
      {{ end }}
      <a href="/privacy" class="w3-block w3-margin-bottom">Privacy</a>
  
      <a href="/posts" class="w3-margin-bottom">Blog</a>
    </div>


    <div class="w3-col s12 w3-theme-d4 flex-center w3-container">
        <p class="w3-small">
          &copy;{{ dateFormat "2006" now }} {{ .Site.Params.copyright }}
        </p>
    </div>

  </footer>
  
</div>

<script>
  document.querySelector(".w3-sidebar-closer").addEventListener("click", ( ev ) => {
    ev.preventDefault();
    document.querySelector(".w3-sidebar").style.display = 'none'
  });
  document.querySelector(".w3-sidebar-opener").addEventListener("click", ( ev ) => {
    ev.preventDefault();
    document.querySelector(".w3-sidebar").style.display = 'block'
  });

  // scroller events
  const next_card = ( ev ) => {
    let section = ev.currentTarget.parentNode.parentNode;
    let container = section.querySelector(".cards-container");
    let cardWidth = section.querySelector(".cards-container .card").getBoundingClientRect().width;
    let scrollX = container.scrollLeft;
    container.scrollLeft = scrollX + cardWidth;
  }
  const prev_card = ( ev ) => {
    let section = ev.currentTarget.parentNode.parentNode;
    let container = section.querySelector(".cards-container");
    let cardWidth = section.querySelector(".cards-container .card").getBoundingClientRect().width;
    let scrollX = container.scrollLeft;
    container.scrollLeft = scrollX - cardWidth;
  }
  document.querySelectorAll(".next-card button").forEach( btn => btn.addEventListener( "click", next_card ) );
  document.querySelectorAll(".prev-card button").forEach( btn => btn.addEventListener( "click", prev_card ) );
  document.querySelectorAll(".cards-container").forEach( element => {
    element.addEventListener('wheel', (event) => {
      event.preventDefault();
      let cardWidth = element.querySelector(".card").getBoundingClientRect().width;
      let scrollX = element.scrollLeft;
      element.scrollLeft =  event.deltaY < 0 ? scrollX - cardWidth : scrollX + cardWidth;
    });
  });

  function toggleRequestCallback( forceClose ) {
    let x = document.querySelector("#request-callback");
    if ( forceClose || x.open )
      return x.close();
    x.showModal();
  }

</script>

</body>
</html>
