
  <div class="desktop-width" style="overflow: hidden;    background-color: #0e2954; border-radius: 20px 20px 0 0;">
    
    <footer class="w3-row">
      <div class="w3-col s12 m4 w3-container w3-padding">
        <form action="#" method="post" netlify>
          <h4 class="w3-text-white">Signup our newsletter</h4>
          <div class="w3-display-container">
            <input class="w3-round-xxlarge w3-large w3-input" style="width: 100%;" type="email" name="email" placeholder="Enter your email here" autocomplete="on" required />
            <div class="w3-display-right">
              <button class="w3-button w3-circle w3-theme-l5 w3-xxlarge w3-card"><i class="fa fa-check"></i></button>
            </div>
          </div>
        </form>
      
        <p class="w3-text-white">
          📧 <a href="mailto:info@c2l.asia">info@c2l.asia</a><br>
          📞 <a href="tel:+971502767027">+971 502 767 027</a><br>
          🗺 Dubai, United Arab Emirates <br>
          &copy;{{ dateFormat "2006" now }} {{ .Site.Title }}</p>

      </div>

      <div class="w3-col s12 m4 w3-container w3-padding w3-text-white">
        <h4 class="w3-text-white">Links</h4>
        <a href="/" target="_blank" rel="noopener noreferrer">Noon account management</a><br>
        <a href="/" target="_blank" rel="noopener noreferrer">Amazon account management</a><br>
        <a href="/" target="_blank" rel="noopener noreferrer">About us</a><br>
        <a href="/" target="_blank" rel="noopener noreferrer">Contact us</a><br>
        <a href="/" target="_blank" rel="noopener noreferrer">Our team</a>
      </div>

      <div class="w3-col s12 m4">
        <div style="background-image: url(https://i.ibb.co/HGPnVYs/c2l-logo.png);
        background-position: center;
        height: 150px;
        width: 100%;
        background-size: cover;"></div>
        <p class="w3-text-white w3-container">C2L helps seller to grow their online presence along with improved sales. Begin your simplified and efficient online selling journey in the UAE with C2L.</p>
      </div>
    </footer>
    
  </div>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>
</html>
