

<nav class="topbar navbar w3-top">
  <div class="desktop-width w3-theme-l1 w3-card-4">
    <a href="/">
      <img src="{{ .Site.Params.logo}}" class="w3-bar-item nav-logo" style="margin: 0; padding: 0;" alt="Logo of C2L" >
    </a>
    <div class="w3-bar bar w3-hide-small">
      {{ $p := . }}
      {{ range .Site.Menus.nav }} 
        {{ if $p.IsMenuCurrent .Menu . }}
          <a href="{{.URL}}" class="w3-bar-item w3-theme w3-button w3-round-large">{{.Name}}</a>
        {{ else if .HasChildren }}
          <div class="w3-dropdown-click w3-round-large">
            <button class="w3-button w3-round-large" onclick="expandSubmenu()">
              {{title .Name}} <i class="fa fa-caret-down"></i>
            </button>
            <div id="submenu" class="w3-dropdown-content w3-bar-block w3-card w3-round-large">
              {{ range .Children}}
                {{ if $p.IsMenuCurrent .Menu . }}
                  <a href="{{.URL}}" class="w3-tiny w3-bar-item w3-theme w3-button">{{.Name}}</a>
                {{ else }}
                  <a  href="{{.URL}}" class="w3-tiny w3-bar-item w3-button w3-round-large">{{.Name}}</a>
                {{ end }}
              {{ end }}
            </div>  
          </div>
        {{ else }}
          <a href="{{.URL}}" class="w3-bar-item w3-button w3-round-large">{{.Name}}</a>
        {{ end }}
      {{ end }}
      <a href="#" class="w3-bar-item w3-button w3-round-large" onclick="toggleRequestCallback()">Request callback</a>
    </div>
    <a onclick="toggleMenu()" class="toggle-menu w3-button w3-xlarge w3-circle w3-hide-medium w3-hide-large">
      <i class="fa fa-bars"></i>
    </a>
  </div>

</nav>



<div id="menu-modal" class="w3-modal" onclick="toggleMenu()">
  <div class="w3-modal-content w3-card-4 w3-round-xlarge w3-animate-right">
    <div id="menu-modal-top" class="w3-border-bottom">
      <a href="/" class="w3-button w3-theme-l1"><i class="fa fa-home"></i></a>
      <span> {{.Site.Params.name}}</span>
      <a class="w3-button w3-theme-l1"><i class="fa fa-close"></i></a>
    </div>
    <div class="mobile-navbar w3-padding-16 w3-container">
      <a href="#" class="w3-bar-item w3-button w3-round-xlarge" onclick="toggleRequestCallback()">Request callback</a>
      {{ $p := . }}
      {{ range .Site.Menus.nav }}
        {{ if $p.IsMenuCurrent .Menu . }}
          <a href="{{.URL}}" class="w3-theme-l5 w3-round-xlarge w3-button">{{.Name}}</a>
        {{ else if .HasChildren }}
        <hr>
          {{ range .Children}}
            {{ if $p.IsMenuCurrent .Menu . }}
              <a href="{{.URL}}" class="w3-theme-l5 w3-button w3-round-xlarge"><i class="fa fa-link"></i> {{.Name}}</a>
            {{ else }}
              <a href="{{.URL}}" class="w3-button w3-round-xlarge"><i class="fa fa-link"></i> {{.Name}}</a>
            {{ end }}
          {{ end }}
        {{ else }}
          <a href="{{.URL}}" class="w3-button w3-round-xlarge">{{.Name}}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>










