<nav class="navbar desktop-width space-between">
	<a href="/">
		<img src="{{ .Site.Params.logo}}" class="nav-logo" alt="Logo of C2L">
	</a>
	<button onclick="toggleMenu()" class="w3-theme w3-sidebar-opener nav-button toggle-menu w3-button w3-xlarge w3-circle"><i class="fa fa-bars"></i></button>
</nav>

<div id="menu-modal" class="w3-sidebar w3-card-4 w3-animate-right">
	<button class="w3-button w3-sidebar-closer w3-xlarge w3-theme w3-card w3-circle"><i class="fa fa-close"></i></button>
	<div class="w3-sidebar-content">
		<button class="w3-bar-item w3-button w3-round-large" onclick="toggleRequestCallback()">Request callback</button>
		{{ $p := . }}
		{{ range .Site.Menus.nav }}
			{{ if .HasChildren }}
				<div class="w3-xlarge w3-right w3-margin-top">Services</div>
				{{ range .Children}}
					<a href="{{.URL}}" class="{{ if $p.IsMenuCurrent .Menu . }}w3-theme-l5 {{end}}w3-button w3-round-large">{{.Name}}</a>
				{{ end }}
			{{ else }}
				<a href="{{.URL}}" class="{{ if $p.IsMenuCurrent .Menu . }}w3-theme-l5 {{end}}w3-button w3-round-large">{{.Name}}</a>
			{{ end }}
		{{ end }}
	</div>
</div>