<!--
<ul class="w3-ul w3-border w3-round-xxlarge overflow-hidden recent-blogs w3-animate-zoom">
  <li class="w3-theme w3-center w3-padding-16">You should read these too</li>
  {{ if not (.Page.Scratch.Get "blog-list-count") }}
  {{ .Page.Scratch.Set "blog-list-count" 10 }}
  {{ end }}
  {{ $current_page := .RelPermalink }}
  {{ range first (.Page.Scratch.Get "blog-list-count") (where .Site.AllPages "Section" "posts") }}
    {{ if eq .Section "posts" }}
      {{ if .IsPage }}
        {{if ne $current_page .RelPermalink}}
          <li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
        {{end}}
      {{ end }}
    {{ end }}
  {{ end }}
  <li class="w3-large w3-theme-l5 w3-center"><a href="/posts">Read more...</a></li>
</ul>

-->
