{{ partial "header.html" . }}

<section class="hero w3-theme-d5" style="width: 100%; height: 100vh; background-image: url(//i.ibb.co/41FtsVT/brooke-cagle-WHWYBmtn3-0-unsplash.webp); background-position: bottom; background-blend-mode: soft-light; display: flex; justify-content: center; align-items: self-start;">
    <div style="width: 70%; margin: auto;">
        <h1 style="line-height: 1.2;">Struglling to sell your products online?</h1>
        <p>We provide a comprehensive suite of services to help you sell more on multiple online platforms such as <a href="//amazon.ae" target="_blank"><strong>Amazon</strong></a>, <a href="//noon.com" target="_blank"><strong>Noon</strong></a>, <a href="//www.carrefouruae.com" target="_blank"><strong>carrefouruae</strong></a> etc with ease.</p>
        <div><button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-theme-l5 w3-round-xxlarge">Get a quote</button></div>
        <br>
        <div><a href="tel:+971502767027">Call us: +971502767027</a></div>
        <div><a href="mail:info@c2l.asia">Mail us: info@c2l.asia</a></div>
    </div>
</section>

<section class="w3-container w3-padding-16">
    <div class="w3-theme-l5 w3-round-xlarge w3-container"  style="max-width: 1024px; margin: auto;">
        <p>Selling products online is a cumbersome process. A seller has to go through a tedious process of onboarding on multiple online marketplace.</p>
        <p>Listing products is another time-consuming, complex but an important thing to do before going online.</p>
        <p>After doing all this seller may face issue in reconciling stock, selling products at lower price, putting higher price which leads to no sales, financial reconciliation etc.</p>
        <p>This is where C2L comes handy where we handle all these challenges for you, so you can focus on all important things such as your products</p>
    </div>
</section>


<div class="">
    <div class="w3-row" style="max-width: 1024px; margin: auto;">
        <div class="w3-col s12 m8 w3-panel">
            <p class="column">C2L is a leading provider of ecommerce solutions for sellers in the UAE. We offer a comprehensive suite of services to help you sell more on multiple online platforms.
            <br>
            <br>
            It is very tough to handle multiple platforms at once since all these need knowledge of the respective platforms. That's why we are here to help you. Our dedicated account manager will help you managing all these platforms at nominal fees so you focus on the important things such as growing your business.
            <br>
            <br>
            We are committed to helping our clients succeed in the ecommerce market in the UAE. We offer a comprehensive suite of services that can help you to save time and money, and to increase your sales.
            </p>
        </div>
        <div class="w3-col s12 m4 w3-padding-16 w3-center">
            <img class="w3-card w3-circle" style="width: 256px;height: 256px;" src="https://source.unsplash.com/256x256/?smile,girl,computer">
        </div>
    </div>
</div>

<div class="solutions">
    <div style="max-width: 1024px; margin: auto;">
        <h2 class="w3-container">C2L’s Comprehensive Solutions</h2>
        <div class="w3-row w3-container w3-padding-16">
            <div class="w3-col s12 m4">
                <img class="w3-round w3-card" src="https://source.unsplash.com/320x240/?documents" alt="onboarding documentation">
            </div>
            <div class="w3-col s12 m8">
                <h3 class="w3-text-theme">Guided Onboarding</h3>
                <p>Our team specializes in multiple platform onboarding. We'll assist you in:</p>
                <ul>   
                    <li>Understanding platform-specific requirements.</li>
                    <li>Streamlining registration and setup.</li>
                    <li>Ensuring your online storefront aligns with best practices for user experience.</li>
                </ul>
            </div>
        </div>

        <div class="w3-row w3-container w3-padding-16">
            <div class="w3-col s12 m4">
                <img class="w3-round w3-card" src="https://source.unsplash.com/320x240/?ecommerce,calalogue" alt="product listing">
            </div>
            <div class="w3-col s12 m8">
                <h3 class="w3-text-theme">Expert Product Listing</h3>
                <p>To enhance your product's visibility, we:</p>
                <ul>
                    <li>Craft SEO-optimized product titles and descriptions.</li>
                    <li>Offer insights on product imagery that resonates with buyers.</li>
                    <li>Strategically categorize and position your products.</li>
                </ul>
            </div>
        </div>


        <div class="w3-row w3-container w3-padding-16">
            <div class="w3-col s12 m4">
                <img class="w3-round w3-card" src="https://source.unsplash.com/320x240/?ecommerce,pricing" alt="product pricing">
            </div>
            <div class="w3-col s12 m8">
                <h3 class="w3-text-theme">Dynamic Price Management</h3>
                <p>We continuously monitor market trends and adjust pricing accordingly:</p>
                <ul>
                    <li>Implementing competitive pricing strategies.</li>
                    <li>Offering insights on market demand and seasonality.</li>
                    <li>Ensuring profitability while staying competitive.</li>
                </ul>
            </div>
        </div>


        <div class="w3-row w3-container w3-padding-16">
            <div class="w3-col s12 m4">
                <img class="w3-round w3-card" src="https://source.unsplash.com/320x240/?ecommerce,advertisement" alt="product ad">
            </div>
            <div class="w3-col s12 m8">
                <h3 class="w3-text-theme">ROI-Driven Advertising</h3>
                <p>Our marketing specialists curate tailored campaigns:</p>
                <ul>
                    <li>Identifying ideal products for promotion.</li>
                    <li>Strategizing ad spend for maximum ROI.</li>
                    <li>Continuously analyzing campaign performance for optimal results.</li>
                </ul>
            </div>
        </div>

        
        <div class="w3-row w3-container w3-padding-16">
            <div class="w3-col s12 m4">
                <img class="w3-round w3-card" src="https://source.unsplash.com/320x240/?ecommerce,finance,sales" alt="track sales">
            </div>
            <div class="w3-col s12 m8">
                <h3 class="w3-text-theme">Transparent Financial Assistance</h3>
                <p>We simplify finance management across platforms by:</p>
                <ul>
                    <li>Tracking sales, returns, and payments.</li>
                    <li>Reconciling discrepancies.</li>
                    <li>Providing transparent monthly financial reports.</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="challenges w3-theme-l5 w3-padding-16">
    <div style="max-width: 1024px; margin: auto;">
        <h2 class="w3-container">Common Challenges of Online Selling in the UAE</h2>
    </div>
    <div class="w3-row" style="max-width: 1024px; margin: auto;">

        <div class="w3-col s12 m4 w3-padding">
            <div class="w3-card w3-theme-l3 w3-round" style="overflow: hidden;">
                <div class="w3-container w3-theme-d5">
                    <h4>Navigating platform onboarding</h4>
                </div>
                <p class="w3-panel">The UAE's digital marketplace is vast, with multiple platforms available for sellers. Each platform has its own set of guidelines, registration procedures, and seller requirements. Knowing where to start and how to set up your online store optimally can be daunting.</p>
            </div>
        </div>

        <div class="w3-col s12 m4 w3-padding">
            <div class="w3-card w3-theme-l3 w3-round" style="overflow: hidden;">
                <div class="w3-container w3-theme-d5">
                    <h4>Achieving Product Visibility</h4>
                </div>
                <p class="w3-panel">With thousands of products online, how do you make sure your product stands out? From selecting the right keywords for your product title to having crisp images and compelling descriptions, every detail matters.</p>
            </div>
        </div>

        <div class="w3-col s12 m4 w3-padding">
            <div class="w3-card w3-theme-l3 w3-round" style="overflow: hidden;">
                <div class="w3-container w3-theme-d5">
                    <h4>Keeping Up with Dynamic Pricing</h4>
                </div>
                <p class="w3-panel">Prices online aren’t static. They shift based on various factors: seasonality, demand, stock levels, and competitor strategies. Monitoring and adjusting your prices to remain competitive, while also profitable, requires continuous vigilance.</p>
            </div>
        </div>
        
        <div class="w3-col s12 m4 w3-padding">
            <div class="w3-card w3-theme-l3 w3-round" style="overflow: hidden;">
                <div class="w3-container w3-theme-d5">
                    <h4>Effective Promotions and Advertisements</h4>
                </div>
                <p class="w3-panel">Online promotions can drive significant traffic and sales. But which products should you promote? How often? And how do you ensure your advertising spend isn't wasted but brings a good return on investment?</p>
            </div>
        </div>

        <div class="w3-col s12 m4 w3-padding">
            <div class="w3-card w3-theme-l3 w3-round" style="overflow: hidden;">
                <div class="w3-container w3-theme-d5">
                    <h4>Streamlined Financial Management</h4>
                </div>
                <p class="w3-panel">Selling on multiple platforms means managing finances across all these channels. Ensuring payments are received, handling returns, and reconciling any discrepancies across platforms is often complex and time-consuming.</p>
            </div>
        </div>
    </div>
</div>

<div class="partnerships">
    <div style="max-width: 1024px; margin: auto;">
        <h2 class="w3-container">Why Partner with C2L?</h2>

        <div class="w3-row">

            <div class="w3-col s12 m4 w3-container w3-padding-16">
                <div class="w3-display-container w3-card-2 w3-round" style="overflow: hidden;">
                    <div class="w3-theme-d5" style="height: 320px; width: 100%; background-image: url(https://source.unsplash.com/240x420/?team);"></div>
                    <div class="w3-display-middle" style="color: aliceblue;">
                        <h3>Experienced Team</h3>
                        <p>Our team has deep insights into the UAE's e-commerce landscape, ensuring you're always a step ahead.</p>
                    </div>
                </div>
            </div>

            <div class="w3-col s12 m4 w3-container w3-padding-16">
                <div class="w3-display-container w3-card-2 w3-round" style="overflow: hidden;">
                    <div class="w3-theme-d5" style="height: 320px; width: 100%; background-image: url(https://source.unsplash.com/240x420/?owner);"></div>
                    <div class="w3-display-middle" style="color: aliceblue;">
                        <h3>Personal Touch</h3>
                        <p>We treat your business as our own. Every strategy is tailored to your specific needs.</p>
                    </div>
                </div>
            </div>

            <div class="w3-col s12 m4 w3-container w3-padding-16">
                <div class="w3-display-container w3-card-2 w3-round" style="overflow: hidden;">
                    <div class="w3-theme-d5" style="height: 320px; width: 100%; background-image: url(https://source.unsplash.com/240x420/?time,money);"></div>
                    <div class="w3-display-middle" style="color: aliceblue;">
                        <h3>Save time and money</h3>
                        <p>Free up your time & focus on other aspects of your business by handing over your day-to-day tasks involved in running your business.</p>
                    </div>
                </div>
            </div>

            <div class="w3-col s12 m4 w3-container w3-padding-16">
                <div class="w3-display-container w3-card-2 w3-round" style="overflow: hidden;">
                    <div class="w3-theme-d5" style="height: 320px; width: 100%; background-image: url(https://source.unsplash.com/240x420/?solution,allinone);"></div>
                    <div class="w3-display-middle" style="color: aliceblue;">
                        <h3>All-In-One Solution</h3>
                        <p>From onboarding to managing sales, we offer a holistic approach, so you can focus on what you do best – your products.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<div class="platforms w3-theme-l5 w3-padding">
    <div style="max-width: 1024px; margin: auto;">
        <h2 class="w3-container">Platforms we cover</h2>
    </div>
    <div class="w3-row" style="max-width: 1024px; margin: auto;">

        <div class="w3-col s6 m2 w3-padding">
            <div class="w3-container">
                <img src="https://i.ibb.co/kqb1DvD/Untitled-2.png" alt="Amazon" class="w3-circle w3-card w3-theme-d5">
            </div>
        </div>

        <div class="w3-col s6 m2 w3-padding">
            <div class="w3-container">
                <img src="https://i.ibb.co/Drt5RnX/Untitled-1.png" alt="noon" class="w3-circle w3-card w3-theme-d5">
            </div>
        </div>

        <div class="w3-col s6 m2 w3-padding">
            <div class="w3-container">
                <img src="https://i.ibb.co/0QNmK8Z/Untitled-5.png" alt="SharafDG" class="w3-circle w3-card w3-theme-d5">
            </div>
        </div>

        <div class="w3-col s6 m2 w3-padding">
            <div class="w3-container">
                <img src="https://i.ibb.co/tJzHPPV/Untitled-3.png" alt="Carrefour" class="w3-circle w3-card w3-theme-d5">
            </div>
        </div>

        <div class="w3-col s6 m2 w3-padding">
            <div class="w3-container">
                <img src="https://i.ibb.co/Fb9HR61/Untitled-6.png" alt="Snapdeal" class="w3-circle w3-card w3-theme-d5">
            </div>
        </div>

        <div class="w3-col s6 m2 w3-padding">
            <div class="w3-container">
                <img src="https://i.ibb.co/xYS9PVs/Untitled-4.png" alt="Flipkart" class="w3-circle w3-card w3-theme-d5">
            </div>
        </div>

        <div class="w3-col s12 w3-container">
            <p>Services are not only limited to these platform. C2L can help you with almost all the platforms on which your products can be sold. <a onclick="document.getElementById('id01').style.display='block'" href="#">Reach out to us</a> and know how C2L can help.</p>
        </div>

    </div>
</div>


<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card w3-animate-zoom w3-round" style="max-width:600px; overflow: hidden;">
        <div class="w3-container w3-theme">
            <h4>Path to grow</h4>
        </div>
        <form action="#" method="post">
            <div class="w3-section w3-container">
                <label><b>Name</b></label>
                <input class="w3-input w3-round w3-border w3-margin-bottom" type="text" placeholder="Enter your name" name="name" required>
                <label><b>Mobile number</b></label>
                <input class="w3-input w3-round w3-border w3-margin-bottom" type="tel" placeholder="Enter your phone number" name="mobile" required>
                <label><b>Email id</b></label>
                <input class="w3-input w3-round w3-border" type="email" placeholder="Enter your email" name="email" required>
            </div>            
            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <button class="w3-button w3-round w3-theme w3-right" type="submit">Submit</button>
                <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-margin-right w3-button w3-theme-l4 w3-round w3-right">Not interested</button>
            </div>
        </form>
    </div>
</div>

{{ partial "footer.html" . }}
