{{ partial "header.html" . }}

<section class="desktop-width contact-us">

  {{ partial "capture-lead.html" . }}
  {{ partial "recent_blogs" . }}
  <div class="card w3-theme-l5 w3-padding-16 w3-round-xxlarge w3-container w3-margin-bottom">
    <div class="title">Address</div>
    <div class=" content w3-xlarge">
      <span>{{.Site.Params.address}}</span>
    </div>
  </div>
  <div class="card w3-theme-l5 w3-padding-16 w3-round-xxlarge w3-container w3-margin-bottom">
    <div class="title">Call</div>
    <div class=" content w3-xlarge">
      <a href="tel:{{.Site.Params.phone}}">{{.Site.Params.phone}}</a>
    </div>
  </div>
  <div class="card w3-theme-l5 w3-padding-16 w3-round-xxlarge w3-container w3-margin-bottom">
    <div class="title title">Email</div>
    <div class=" content w3-xlarge">
      <a href="mailto:{{.Site.Params.email}}">{{.Site.Params.email}}</a>
    </div>
  </div>

</section>


{{ partial "footer.html" . }}
